<!-- <div *ngIf="path != null && path != '/login';else login">
    <div class="custom-toolbar shadow" style="background-color: #fff; z-index: 5;">
        <button kendoButton icon="menu" fillMode="flat" (click)="drawer.toggle()"></button>
        <span class="mail-box"><b>LibraryMS</b></span>
    </div>
    <kendo-drawer-container style="z-index: 5;">
        <kendo-drawer #drawer [items]="items" mode="push" [mini]="true" [expanded]="true" (select)="onSelect($event)">
        </kendo-drawer>
        <kendo-drawer-content>

            <router-outlet></router-outlet>
            
        </kendo-drawer-content>
    </kendo-drawer-container>
</div>

<ng-template #login> -->
    <router-outlet></router-outlet>
<!-- </ng-template> -->