@import "../node_modules/primeicons/primeicons.css";

@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";

@import "../node_modules/primeng/resources/primeng.min.css";

@import '../node_modules/ngx-toastr/toastr.css';

/* @import '../node_modules/ngx-toastr/toastr-bs4-alert.scss'; */

/* @import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert'; */

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* body { */
    /* display: grid; */
    /* align-items: center; */
    /* background-color: #f5f5f5; */
/* } */


p-inputnumber, .p-inputnumber, p-calendar, .p-calendar, p-password, .p-password, .p-password-input, .p-inputtext, p-dropdown, .p-dropdown {
    width: 100%
}
